.DS_Store
contracts/.DS_Store
contracts/node_modules
contracts/.env
contracts/.env_prod
contracts/.env_kovan
contracts/.openzeppelin
contracts/coverage
contracts/coverage.json
contracts/typechain
contracts/cache
contracts/artifacts
node_modules
.env
.openzeppelin
coverage
cache
artifacts